# Steps for Data Preprocessing

## Importing Required Libraries

In [1]:
# Step 1: importing required modules
import pandas as pd
import numpy as np

## Import the data set

In [2]:
#Note: to check the current working directory, please type pwd
%pwd
#you may either write the complete path for the data set or save it in the same directory where your notebook file is
# to change your working directory (if needed) use cd 
%cd Data_Cleaning

# reading your data
data = pd.read_csv("covid_finland_cleaning.csv")

[Errno 2] No such file or directory: 'Data_Cleaning'
/home/jovyan/work/Datan visualisointi/Datan käsittely/Datan käsittelyn kehittyneet menetelmät

In [3]:
# Prview the first 5 lines of the loaded data
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,7/11/2020,11,7,2020,6.0,0,Finland,FI,FIN,5517919,Europe,1.594804
1,7/10/2020,10,7,2020,8.0,0,Finland,FI,FIN,5517919,Europe,1.830400
2,7/9/2020,9,7,2020,3.0,0,Finland,FI,FIN,5517919,Europe,1.776032
3,7/8/2020,8,7,2020,5.0,0,Finland,FI,FIN,5517919,Europe,1.939137
4,7/7/2020,7,7,2020,4.0,0,Finland,FI,FIN,5517919,Europe,2.047873

In [4]:
# Lets look into a random dataset of data
sample=data.sample(5)
sample

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
34,6/7/2020,7,6,2020,23.0,0,Finland,FI,FIN,5517919,Europe,7.176619
15,6/26/2020,26,6,2020,5.0,0,Finland,FI,FIN,5517919,Europe,1.957260
66,5/6/2020,6,5,2020,85.0,6,Finland,FI,FIN,5517919,Europe,25.335638
55,5/17/2020,17,5,2020,58.0,4,Finland,FI,FIN,5517919,Europe,20.061911
150,2/8/2020,8,2,2020,0.0,0,Finland,FI,FIN,5517919,Europe,0.018123

In [10]:
#know your data set, run following lines in different cells
data.columns 
data.index
data.shape #(rows, columns)
data.values
data.info()
# to get only a specific column
data['geoId']
# to create a subset with required columns
data[['geoId','year']]

#to access the data (row )based on the location (index) 
data.loc[3]

#to access mulitple rows based on the location (index) 
data.loc[[3,4, 7]]

# to access multiple rows with some conditions such as in a specicific year or for a specific country
data.loc[(data['year'] == 2020)]

data.loc[(data['deaths'] >= 1)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     160 non-null    object
 1   day                                                         160 non-null    int64
 2   month                                                       160 non-null    int64
 3   year                                                        160 non-null    int64
 4   cases                                                       153 non-null    float64
 5   deaths                                                      160 non-null    int64
 6   countriesAndTerritories                                     160 non-null    object
 7   geoId                                                       160 non-null    object
 8   countryterritoryCode                                        160 non-null    object
 9   popData2019                                                 160 non-null    int64
 10  continentExp                                                160 non-null    object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  160 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 15.1+ KB

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
7,7/4/2020,4,7,2020,NaN,1,Finland,FI,FIN,5517919,Europe,1.975382
14,6/27/2020,27,6,2020,19.0,1,Finland,FI,FIN,5517919,Europe,2.138487
18,6/23/2020,23,6,2020,1.0,1,Finland,FI,FIN,5517919,Europe,2.591557
26,6/15/2020,15,6,2020,17.0,1,Finland,FI,FIN,5517919,Europe,4.440080
29,6/12/2020,12,6,2020,24.0,1,Finland,FI,FIN,5517919,Europe,5.817411
...,...,...,...,...,...,...,...,...,...,...,...,...
104,3/29/2020,29,3,2020,193.0,2,Finland,FI,FIN,5517919,Europe,18.267756
105,3/28/2020,28,3,2020,67.0,3,Finland,FI,FIN,5517919,Europe,15.259376
106,3/27/2020,27,3,2020,78.0,1,Finland,FI,FIN,5517919,Europe,14.552588
107,3/26/2020,26,3,2020,88.0,2,Finland,FI,FIN,5517919,Europe,14.878798
111,3/22/2020,22,3,2020,71.0,1,Finland,FI,FIN,5517919,Europe,9.224492

# Let us check if our dataset containg missing values. 

When we randomly went through different subsets of data, we already know that our dataset has some missing values which are marked as N/A.

In [6]:
## lets find out how many datas are missing per column
missing_count = data.isnull().sum()
print(missing_count)

dateRep                                                       0
day                                                           0
month                                                         0
year                                                          0
cases                                                         7
deaths                                                        0
countriesAndTerritories                                       0
geoId                                                         0
countryterritoryCode                                          0
popData2019                                                   0
continentExp                                                  0
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    0
dtype: int64

In [7]:
# #We can see that 7 missing values in cases
#When working with huge dataset it may be helpful to see what
#percentage of the data is missing 

total_data=np.product(data.shape)
total_missing=missing_count.sum()
per_of_missing_data=(total_missing/total_data)* 100
print(per_of_missing_data)

#Conclusion: as you can see we have a very small percentage
#of missing data, we may delete those rows or fill them up

0.3645833333333333


# Handling Null Values: 

## Dropna :  dropna() method allows to analyze and drop Rows/Columns with Null values in different ways

If you have enough samples in the data set, you may delete a particular row that has a null value and a particular column. This has to be done catutiously as deleting the data leads to the loss of information and the result may not be efficient.

Drop the columns where all elements are nan:

>> data.dropna(axis=1, how='all')

Drop the columns where any of the elements is nan
>> data.dropna(axis=1, how='any')

Drop the rows where all of the elements are nan
>> data.dropna(axis=0, how='all')

Keep only the rows with at least 2 non-na values:

>> data.dropna(thresh=2)

# checking the column cases for null values 
>> data["cases"].isnull().values.sum()

# change the cases fron NaN to 0
>> data["cases"].fillna(0, inplace=True)

# checking the different types of values in the column cases
>> data["cases"].unique()

# removing all rows that contain a missing value
>> data.dropna()

Read More on dropna: https://pandas.pydata.org/pandas-docs/version/0.21.1/generated/pandas.DataFrame.dropna.html

In [8]:
data["geoId"].unique()

array(['FI'], dtype=object)

In [9]:
# lets create a new data frame by dropping all null values 
data1=data.dropna(axis=0, how='any')

# Fill NA/NAN : Filling in missing values automatically

The Panda's fillna() function may be used to fill in missing values in a dataframe. We have to specify what we want to do with the NaN values. We may replace with 0, or replace with the value that comes directly after it in the same column and other remaining one with 0s.

Replace all NaN elements with 0s
>> data.fillna(0)

Replace all NaN elements in column ‘A’, ‘B’, ‘C’, and ‘D’, with 0, 1, 2, and 3 respectively.
>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
>> data.fillna(value=values)

Only replace the first NaN element
>>> data.fillna(value=values, limit=1)

Replace all NaN's with the value that comes directly after it in the same column, 
then replace all the remaining na's with 0

>>> df.fillna(method='bfill', axis=0).fillna(0)

Read More at: https://pandas.pydata.org/pandas-docs/version/0.21.1/generated/pandas.DataFrame.fillna.html#pandas.DataFrame.fillna